body {
    background-color: burlywood;
}

h1 {
    font-family: "Protest Strike", sans-serif;
    font-size: 40px;
}

h2 {
    font-family: "Protest Strike", sans-serif;
    font-size: 30px;
    margin-left: 20px;
}
h3 {
    font-family: "Protest Strike", sans-serif;
    font-size: 30px;
}